# Ignore JDK environment folder
jdk17/

# Ignore compiled Android package
releases/app-release.apk

# Ignore local VS Code settings
.vscode/

# Ignore large media & zip archives
*.zip
*.mp4
scratch/

